@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Inter,ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
}

#page {
    height: 100%;
    width: 100%;
}
#header {
    width: 100%;
    height: 5%;
}

#container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#margin-container {
    display: flex;
    height: 100%;
    width: 95%;
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 100%;
    width: 25%;
    background: #e2e2e2;
}

#colors-list {
    height: 95%;
    width: 85%;
}

.saved-color-panel {
    width: 100%;
    height: 7vh;
    background: #f0f0f0;
    border-radius: 17px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5vh;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 10px #00000010;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}
.saved-color-panel:hover {
    background: #d8d8d8;
    transform: scale(0.99);
    box-shadow: 0 0 10px #00000023;
}

.saved-color-logo {
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 1.5vh;
    margin-left: 1.5vh;
}

.saved-color-value {
    height: 5.5vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4e4e4e;
    font-weight: bolder;
    font-size: 3vh;
}

.saved-color-panel-remover {
    height: 4vh;
    width: 4vh;
    border-radius: 1.5vh;
    background: #ff3232;
    margin-right: 1.5vh;
    transition: 200ms ease-in-out;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    outline: none;
    border: none;
    cursor: pointer;
}

.saved-color-panel-remover:hover {
    background: #f02f2f;
    transform: scale(1.2);
    box-shadow: 0 0 10px #00000023;
}

#right {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background: #e9e9e9;
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    z-index: 2;
    background: #efefef;
    height: 50%;
    width: 50%;
    border-radius: 20px;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 10px #0000001c;
    display: flex;
    flex-direction: column;
    min-width: 500px;
    min-height: 300px;
}

#main-content {
    height: 70%;
    width: 100%;
    display: flex;
}

#main-left {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color {
    height: 80%;
    width: 80%;
    border-radius: 25px;
    background: #ffffff;
    transition: 200ms ease-in-out;
    box-shadow: 0 0 10px #0000002c;
}

#main-right {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

#color-inputs {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.color-input-panel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    justify-content: space-around;
    background: #fcfcfc;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000002c;
}

.target-color {
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 1.5vh;
}

.input-value {
    width: 20%;
    height: 50%;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0 10px #0000002c;
    text-align: center;
    outline: 0;
}

#color-value-container {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

#color-value-container-left {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#save-color-value {
    background: #22ff7a;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000002c;
    height: 60%;
    width: 80%;
    margin: 0;
    font-size: 30px;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 5px #acffac;
    color: #ffffff;
    padding: 0;
    transition: 200ms ease-in-out;
}

#save-color-value:hover {
    z-index: 3;
    background: #1fe970;
    transform: scale(0.99);
    box-shadow: 0 0 10px #00000023;
    cursor: pointer;
}

#color-value-container-right {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-value {
    z-index: 3;
    background: #fcfcfc;
    border-radius: 20px;
    box-shadow: 0 0 10px #0000002c;
    height: 60%;
    width: 90%;
    margin: 0;
    font-size: 30px;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: 600;
    color: #505050;
    padding: 0;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

#color-value:hover {
    background: #f0f0f0;
    transform: scale(0.99);
    box-shadow: 0 0 10px #00000023;
}

#main:hover {
    box-shadow: 0 0 10px #0000002c;
}

footer {
    height: 5%;
    width: 100%;
}